<!DOCTYPE html>
<html th:replace="~{layout/masterLayout :: layout(~{::main})}" lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
  <main role="main">
    <div class="container">
      <h1 class="text-center mt-5 display-3">Home Page</h1>
      <p>
        <span>Lorem ipsum dolor sit amet,
          consectetur adipisicing elit. Cupiditate deleniti dicta ex,
          necessitatibus perspiciatis quasi quis sunt vitae. Assumenda
          maiores qui voluptas voluptatem! Aliquam ea obcaecati omnis rem sed soluta.</span>
        <span>Architecto, dignissimos dolore dolorem ea eius est ex inventore ipsam
          necessitatibus odit pariatur perspiciatis quidem quis rerum sapiente sunt tempora? Accusantiu
          m aliquam aperiam dolorem eum quaerat quia sequi sint velit?</span>
        <span>Adipisci architecto asperiores at deserunt dolorem ducimus, eaque eius eligendi enim est fugiat ipsa, iusto labore magni mollitia nihil nulla officia porro quaerat quam qui repudiandae sapiente sit unde voluptas.</span>
        <span>Ab ad aliquid animi, beatae cumque distinctio, facere id, ipsam ipsum laborum minima neque nulla numquam praesentium repellendus similique totam ullam. Aliquam at deleniti dolorem eligendi error provident vel voluptatem.</span>
        <span>Aliquam commodi consequuntur facere nulla rem. Assumenda commodi deleniti, harum incidunt ipsam labore libero magni modi nam necessitatibus non, pariatur provident, quae quaerat quasi quia quod recusandae reprehenderit tenetur voluptates.</span>
      </p>
    </div>
  </main>
</body>
</html>