<!DOCTYPE html>
<html th:replace="~{layout/masterLayout :: layout(~{::main})}" lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
  <main role="main">
    <div class="container mt-5">
      <h1 class="display-3">Admin Role And User Role For Main.</h1>
      <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium assumenda blanditiis consequuntur cum dolores earum explicabo impedit laudantium maxime molestiae necessitatibus nemo porro, quidem repudiandae, temporibus totam, ullam vitae.</span>
        <span>Amet, asperiores, aspernatur autem beatae corporis dolor dolores, est exercitationem in ipsum iste nobis obcaecati optio perferendis placeat porro provident quam quas quibusdam repellendus reprehenderit sit totam ut vero voluptatem.</span>
        <span>Accusamus debitis est fugit itaque labore natus qui tempora. Aperiam dolor eveniet iure necessitatibus quos sequi totam. Adipisci animi deserunt dolor harum natus nesciunt nihil nulla quia, sequi sint ullam.</span>
        <span>Ad amet debitis possimus quia rem repellendus, sapiente tenetur ullam voluptas voluptatum! A amet asperiores autem beatae cupiditate dolorum et expedita ipsum laboriosam mollitia numquam quibusdam quisquam reiciendis, soluta voluptatibus.</span>
        <span>Ad adipisci aperiam consectetur cum deserunt eius enim excepturi fuga fugiat harum, hic labore molestiae nulla odit perferendis perspiciatis quae quos reprehenderit saepe similique sit sunt vitae. Ducimus, eveniet fugiat.</span>
      </p>
    </div>
  </main>
</body>
</html>